/* -------------------------------------
  1. Layout 
-------------------------------------- */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -----------------------------------
   2. Interaction Utility 
----------------------------------- */
.interactive {
  cursor: pointer;
  transition:
    background var(--transition-fast),
    color var(--transition-fast),
    transform var(--transition-fast),
    box-shadow var(--transition-fast),
    border-color var(--transition-fast);
}

.interactive:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-hover-1);
}

.interactive:active,
.interactive.active {
  transform: translateY(0);
  box-shadow: var(--shadow-accent-medium);
}

/* ---------------------------
  3. Hidden
--------------------------- */
.hidden {
  display: none !important;
}
