/* -------------------------------------
  Background Blur
-------------------------------------- */
#blur-backdrop {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.25);
  z-index: 20;
  display: none;
}