/* -------------------------------------
  Checkbox Group
-------------------------------------- */
.checkbox-group {
  display: inline-flex;
  gap: var(--spacing-sm);
}

.checkbox-group input[type="checkbox"] {
  width: 18px;
  height: 18px;

  appearance: none;
  background-color: var(--input-bg);

  border: var(--border-thickness) solid var(--border-color-strong);

  border-radius: var(--radius-xl);
  display: inline-block;

  position: relative;
  cursor: pointer;
}

.checkbox-group input[type="checkbox"]:hover {
  background-color: #333;
  border-color: var(--hover-bg);
}

.checkbox-group input[type="checkbox"]:checked {
  background-color: var(--input-bg);
  border-color: var(--hover-bg);
}

.checkbox-group input[type="checkbox"]:checked::before {
  content: '✔';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white);
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.checkbox-group label {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.includes-more {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1px;
  order: 2;
}

@media (max-width: 768px) {
  .checkbox-group {
    flex-wrap: wrap;
    gap: var(--spacing-xs);
  }

  .checkbox-group label {
    font-size: 0.95rem;
  }
}