/* -------------------------------------
  Pi-Start Logo
-------------------------------------- */
.logo {
  height: clamp(32px, 5vw, 48px);
  width: auto;
  transition: opacity var(--transition-fast);
}

.logo:hover {
  opacity: 0.6;
}