/* -------------------------------------
  Modal Card
-------------------------------------- */
.modal-backdrop {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: var(--z-modal, 999);
}

.modal-card {
  background: var(--card-bg);
  color: var(--card-fg);
  padding: 24px;

  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--border);
  animation: fadeIn 0.2s ease;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-md);
  gap: var(--spacing-lg)
}

.modal-header h2 {
  margin: 0;
  font-size: 1.25rem;
}

.close-modal {
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: var(--radius-round);
  padding: 6px;

  /* Much smoother timing & easing */
  transition:
    opacity 0.15s cubic-bezier(0.25, 0.1, 0.25, 1),
}

.close-modal.fading {
  opacity: 0;
}

.close-modal:hover {
  color: var(--window-close-fg);
  background-color: var(--window-close-bg);
}

.modal-body {
  flex: 1;
  overflow: hidden;
  /* handled by .scrollable */
}

.modal-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: var(--spacing-sm);
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dep-section {
  font-size: 1.25rem;
}

.dep-desc {
  margin-left: 28px;
  font-size: 0.8rem;
  opacity: 0.8;
  margin-top: -4px;
}

.modal-footer {
  margin-top: var(--spacing-md);
  display: flex;
  justify-content: flex-end;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .modal-card {
    width: 92% !important;
    max-height: 88vh !important;
    padding: 16px;
  }

  .modal-header h2 {
    font-size: 1.1rem;
  }

  .modal-body {
    overflow-y: auto;
  }

  .modal-item {
    margin-bottom: var(--spacing-md);
  }

  .modal-footer {
    flex-direction: column;
    gap: var(--spacing-sm);
  }
}