/* ---------------------------
  Custom ScrollBar
--------------------------- */
.scrollable {
  overflow-y: auto;
  max-height: 350px;
  scrollbar-width: thin;
  scrollbar-color: rgba(130, 130, 130, 0.5) transparent;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(130, 130, 130, 0.5);
  border-radius: 6px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: rgba(90, 90, 90, 0.8);
}